<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4">
        <span class="text-muted fw-light">Employee Management</span> 
    </h4>

    <!-- Basic Bootstrap Table -->
    <div class="card px-2">
        <div class="table-responsive text-nowrap">
            <a asp-area="CompanyManager" asp-controller="Employee" asp-action="Add" class="btn btn-warning mb-4"><i class='bx bx-comment-add'></i> Add Employee</a>
            <table class="table" id="employeesTable" width="100%" collspacing="0">
                <thead>
                    <tr>
                        <th>Photo</th>
                        <th>Full Name</th>
                        <th>Birth Place</th>
                        <th>Identitiy No</th>
                        <th>Profession</th>
                        <th>Department</th>
                        <th>Adress</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                    @*@foreach (var employee in Model)
                    {
                        <tr name="@employee.Id">
                            <th>
                                <img src="/images/@employee.Picture" width="75px" />
                            </th>
                            <th>@employee.Firstname + @employee.MiddleName + @employee.LastName + @employee.SecondSurname</th>
                            <th>@employee.Birthplace</th>
                            <th>@employee.IdentityCardNo</th>
                            <th>@employee.Profession</th>
                            <th>@employee.Department</th>
                            <th>@employee.Adress</th>
                            <th>
                                <a class="btn btn-primary btn-sm" data-id="@employee.Id" asp-area="CompanyManager" asp-controller="Employee" asp-action="Update" asp-route-employeeId="@employee.Id">
                                    <i class='bx bxs-message-alt-edit'></i>
                                </a>
                                <a class="btn btn-danger btn-sm" data-id="@employee.Id" asp-area="CompanyManager" asp-controller="Employee" asp-action="Delete" asp-route-employeeId="@employee.Id">
                                    <i class='bx bx-trash'></i>
                                </a>
                            </th>
                        </tr>
                    }*@
                </tbody>
            </table>
        </div>
    </div>
    <!--/ Basic Bootstrap Table -->

</div>

@section Scripts{
    <script src="~/js/employeeIndex.js" type="application/ecmascript"></script>
}


