@model List<AppUser>
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4">
        <span class="text-muted fw-light">Manager Management /</span> Managers
    </h4>

    <!-- Basic Bootstrap Table -->
    <div class="card px-2">
        <div class="table-responsive text-nowrap">
            <a asp-area="SiteManager" asp-controller="CompanyManager" asp-action="Add" class="btn btn-warning mb-4"><i class='bx bx-comment-add'></i> Add Company Manager</a>
            <table class="table" id="employeesTable" width="100%" collspacing="0">
                <thead>
                    <tr>
                        <th>Photo</th>
                        <th>FirstName</th>
                        <th>MiddleName</th>
                        <th>Surname</th>
                        <th>SecondSurname</th>
                        <th>BirthDate</th>
                        <th>BirthPlace</th>
                        <th>IdentityNumber</th>
                        <th>EmploymentDate</th>
                        <th>Profession</th>
                        <th>Department</th>
                        <th>Email</th>
                        <th>Adress</th>
                        <th>PhoneNumber</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                    @foreach (var manager in Model)
                    {
                        <tr name="@manager.Id">
                            <th>
                                <img src="/images/@manager.Picture" width="75px" />
                            </th>
                            <th>@manager.Firstname</th>
                            <th>@manager.MiddleName</th>
                            <th>@manager.LastName</th>
                            <th>@manager.SecondSurname</th>
                            <th>@manager.Birthplace</th>
                            <th>@manager.Birthplace</th>
                            <th>@manager.IdentityCardNo</th>
                            <th>@manager.EmploymentDate</th>
                            <th>@manager.Profession</th>
                            <th>@manager.Department</th>
                            <th>@manager.Email</th>
                            <th>@manager.Adress</th>
                            <th>@manager.PhoneNumber</th>
                            <th>
                                <a class="btn btn-primary btn-sm" data-id="@manager.Id" asp-area="SiteManager" asp-controller="CompanyManager" asp-action="Update" asp-route-managerId="@manager.Id">
                                    <i class='bx bxs-message-alt-edit'></i>
                                </a>
                                <a class="btn btn-danger btn-sm" data-id="@manager.Id" asp-area="SiteManager" asp-controller="CompanyManager" asp-action="Delete" asp-route-managerId="@manager.Id">
                                    <i class='bx bx-trash'></i>
                                </a>
                            </th>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <!--/ Basic Bootstrap Table -->

</div>

@section Scripts{
    <script src="~/js/employeeIndex.js" type="application/ecmascript"></script>
}

