@model AppUser
@{
    ViewData["Title"] = "Index";
}


<div class="card mb-3 mx-4 mt-4" style="max-width: 1250px; height:250px;">
    <div class="row g-0">
        <div class="col-md-4 mt-2">
            <img src="/images/25019a29-a339-43f8-865c-29f73d89afdd.png" style="height:200px; width:200px;" class="img-fluid rounded-start mx-4 mt-4" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">@Model.Profession</h5>
                <p class="card-text">Name: @Model.Firstname</p>
                <p class="card-text">Surname: @Model.LastName</p>
                <p class="card-text">City: @Model.City</p>
                <p class="card-text">Adress: @Model.Adress</p>
                <p class="card-text">
                    Department: @Model.Department
                    <a class="float-end" asp-area="CompanyManager" asp-controller="Home" asp-action="Details"><i class="fa-solid fa-circle-info"> Details</i></a>
                </p>
            </div>

        </div>
    </div>
</div>
